.board {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.resbutton button {
    background-color: #332116;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.hod {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}