.dcards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.dcards img {
    width: 250px;
    height: 250px;
}

.dcards p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.dline {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.backButton {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
}

.backButton img {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.backButton p {
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.boardbutton {
    background-color: aliceblue;
    width: 100px;
    height: 100px;
}

.openChessButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #573b29;
    border: 2px solid white;
    border-radius: 10;
    height: 45px;
    width: 300px;
    font-size: 18px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    transition: transform 0.1s ease-out, color 0.1s ease-out; 

}

.btncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 25px; 
}

.openChessButton:hover {
    transform: translateY(-5px); 
}